/* ==UserStyle==
@name           codenames.game
@namespace      https://github.com/uzflo/maudado-codenames-stylus
@version        0.0.1
@description    A custom design for codenames.game
@author         uzflo
==/UserStyle== */

@-moz-document domain("codenames.game") {
	:root {
		--maudado-bg-img-height: 2813px;
		--maudado-bg-img-width: 5000px;
	}

	/* Scrolling Background */
	.landscape\:bg-\(image\:--landscape-bg\) {
		height: 100%;
		width: 100%;

		background-image: url(https://i.imgur.com/JMu0VsP.jpeg);
		background-attachment: fixed;
		background-repeat: repeat;
		animation: diagonalScroll 60s infinite;
		animation-direction: alternate;
		animation-timing-function: linear;
		background-size: 350% !important;
	}

	.landscape\:bg-\(image\:--landscape-bg\)::after {
		content: '';
		z-index: 10;
		width: 100%;
		height: 100%;
		display: block;
		position: absolute;
		background: linear-gradient(90deg, rgba(255, 7, 35, .95) 0%, rgba(255, 7, 35, .95) 40%, rgba(0, 134, 224, .95) 60%, rgba(0, 134, 224, .95) 100%);
	}

	@keyframes diagonalScroll {
		0% {
			background-position: 0px, 0px;
			/* transform: translate3d(0, 0, 0); */
		}

		100% {
			background-position: calc(var(--maudado-bg-img-width) * -1) calc(var(--maudado-bg-img-height) * -1);
			/* transform: translate3d(calc(var(--maudado-bg-img-width) * -1), calc(var(--maudado-bg-img-height) * -1), 0); */
		}
	}
	
	/* Card Backgrounds */
	img[src$="back-gold.png"] {
		content: url(https://i.imgur.com/Uxmr9S6.png);
	}
	
	img[src$="back-white.png"] {
		content: url(https://i.imgur.com/CHFz6UV.png);
	}
	
	img[src$="back-black.png"] {
		content: url(https://i.imgur.com/640Ynkc.png);
	}
	
	img[src$="back-blue.png"] {
		content: url(https://i.imgur.com/NapW7mG.png);
	}
	
	img[src$="back-red.png"] {
		content: url(https://i.imgur.com/n7ZBXdp.png);
	}
	
	/* Card Avatars */
	img:not([src$="back-white.png"]) + figure .card-character {
		background-image: url(https://i.imgur.com/afyg20Q.png) !important;
		width: 310px !important;
		height: 205px !important;
		--tw-translate-x: -49%;
		border-radius: 20px;
	}
	
	img[src$="back-white.png"] + figure .card-character {
		background-image: url(https://i.imgur.com/cKnrpTR.png) !important;
		width: 310px !important;
		height: 205px !important;
		--tw-translate-x: -50%;
		--tw-translate-y: -51%;
		border-radius: 20px;
	}
}

@-moz-document regexp(".*codenames.game/daily.*") {
	
	/* Golden Background for Daily Challenge */
	.landscape\:bg-\(image\:--landscape-bg\)::after {
		background: linear-gradient(90deg, rgba(214, 128, 1, .95) 0%, rgba(255, 222, 155, .95) 40%, rgba(255, 222, 155, .95) 60%, rgba(214, 128, 1, .95) 100%) !important;
	}
	
}

@-moz-document regexp(".*codenames.game/r/.*") { /* Actual Game */
	
	/* Scrolling Background */
	.w-\(--AppWidth\) > main div:nth-child(1) {
		height: 100%;
		width: 100%;

		background-image: url(https://i.imgur.com/JMu0VsP.jpeg);
		background-attachment: fixed;
		background-repeat: repeat;
		animation: diagonalScroll 60s infinite;
		animation-direction: alternate;
		animation-timing-function: linear;
		background-size: 350% !important;
	}
	
	.w-\(--AppWidth\) > main canvas {
		display: none;
	}

    /* - If team red on the left side */
	.w-\(--AppWidth\):has( section[data-match-column="left"] div[data-match-slot="redOp"]) > main div:nth-child(1)::after {
		content: '';
		z-index: 10;
		width: 100%;
		height: 100%;
		display: block;
		position: absolute;
		background: linear-gradient(90deg, rgba(255, 7, 35, .95) 0%, rgba(255, 7, 35, .95) 40%, rgba(0, 134, 224, .95) 60%, rgba(0, 134, 224, .95) 100%);
	}

	/* - If team blue on the left side */
	.w-\(--AppWidth\):has(section[ data-match-column="left"] div[data-match-slot="blueOp"]) > main div:nth-child(1)::after {
		content: '';
		z-index: 10;
		width: 100%;
		height: 100%;
		display: block;
		position: absolute;
		background: linear-gradient(90deg, rgba(0, 134, 224, .95) 0%, rgba(0, 134, 224, .95) 40%, rgba(255, 7, 35, .95) 60%, rgba(255, 7, 35, .95) 100%);
	}
}